--******************************************--
--إنشاء جدول الإعلانات\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Create Table TbAds(
Ads_Id int primary key identity(1,1) ,
User_ID Smallint not null,
Subcate_Id Smallint not null,
Ads_Title Nvarchar(150) not null,
Ads_Prics Decimal(15,3) not null,
Ads_Descrip Nvarchar(Max) not Null,
Ads_Location nvarchar(200) not null,
Ads_Status tinyint not null, --حالة الإعلان مقبول\مرفوض\محدوف\....
Ads_DateAdded datetime not null,
Ads_ProductStatus bit not null ,-- حالة المنتج التي تم إعلانه، جديد\مستعمل\
Ads_Sold bit not null --حالة بيع الإعلان
)

--إضافة مفتاح الأجنبي وربطه بجدول المستخدمين
ALTER TABLE TbAds
ADD FOREIGN KEY (User_ID) REFERENCES TbUsers(User_ID);

--إضافة مفتاح الأجنبي وربطه بجدول الفئات الفرعية
ALTER TABLE TbAds
ADD FOREIGN KEY (Subcate_Id) REFERENCES TbSubcategory(Subcate_Id);


--إضافة قيد لضمان عدم إدخال قيمة بالسالب
ALTER TABLE TbAds
ADD CONSTRAINT valid_price 
CHECK(Ads_Prics > 0.0);



--إضافة قيد لإضافة قيمة افتراضية عنداإضافة الإعلان
ALTER TABLE TbAds
ADD CONSTRAINT Def_Ad
DEFAULT 0 FOR Ads_Status;

--إضافة قيد لإضافة قيمة افتراضية تاريخ نشر عنداإضافة الإعلان
ALTER TABLE TbAds
ADD CONSTRAINT Def_Date
DEFAULT GetDate() FOR Ads_DateAdded;

--إضافة قيد لإضافة قيمة افتراضية مستعمل 0 عنداإضافة الإعلان
ALTER TABLE TbAds
ADD CONSTRAINT Def_Stat
DEFAULT 0 FOR Ads_ProductStatus;


--For Test
insert into TbAds (UserId ,Subcate_Id ,Ads_Title ,Ads_Prics  ,Ads_Descrip  ,Ads_Location   )
values (2,1,'إعلان',1000.3,'إعلان','مصراتة-ليبيا');

select * from TbAds