--******************************************--
--إنشاء جدول الفئات
Create Table TbCategories(
Cate_Id Smallint primary key identity(1,1) ,
Cate_Name Nvarchar(30) Not Null,
Cate_Photo Nvarchar(255) Not Null,
Cate_Description Nvarchar(255) Not Null
)
--إضافة القيود على جدول الفئات
--إضافة قيد لضمان عدم تكرار داخل العمود الواحد
ALTER TABLE TbCategories ADD CONSTRAINT uni_Col UNIQUE(cate_Name)

--For Test
insert into TbCategories (cate_Name,cate_Photo)
values ('AA','BB');

select * from TbCategories


--******************************************--