--******************************************--
--إنشاء جدول التعليقات\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Create Table TbComment(
Com_Id int  not null identity(1,1) ,
Ads_Id int  not null, 
User_ID Smallint not null,
Com_Text nvarchar(255) not null,
Com_Date datetime not null,
Com_Status bit not null -- هل التعليق محجوب او مقبول | 0\1
);

--إضافة مفتاح الرئيسي وربطه بجدول الإعلانات
ALTER TABLE TbComment
ADD Primary KEY (Com_Id,Ads_Id) 


--إضافة مفتاح الأجنبي وربطه بجدول المستخدمين
ALTER TABLE TbComment
ADD FOREIGN KEY (User_ID) REFERENCES TbUsers(User_ID);


--إضافة قيد لإضافة قيمة افتراضية تاريخ إضافة التعليق
ALTER TABLE TbComment
ADD CONSTRAINT Def_Com
DEFAULT GetDate() FOR Com_Date;

--إضافة قيد لإضافة قيمة افتراضية عند اضافة التعليق

ALTER TABLE TbComment
ADD CONSTRAINT Def_Com2
DEFAULT 1 FOR Com_Status; --يعرض مباشرة



----For Test
insert into TbComment (Ads_Id ,UserId ,Com_Text  ,Com_Status )
values (3,2,'أعجبني',0);

select * from TbComment