--******************************************--
--إنشاء جدول الأسئلة الشائعة\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Create Table TbFAQ(
FAQ_Id tinyint primary key identity(1,1) ,
FAQ_Question Nvarchar(255) not null,
FAQ_Answer Nvarchar(MAX) not null,
);

--إضافة القيود على جدول الأسئلة الشائعة
--إضافة قيد لضمان عدم تكرار داخل العمود الواحد
ALTER TABLE TbFAQ ADD CONSTRAINT RR_ED UNIQUE(FAQ_Question);

--For Test
insert into TbFAQ (FAQ_Question,FAQ_Answer)
values ('a','BB');

select * from TbFAQ
