--******************************************--
--إنشاء جدول الصور\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Create Table TbAds_Images(
Img_Id int identity(1,1) ,
Ads_Id int  not null,
Img_Path Nvarchar(255)  not null,
Img_IsMain bit not null --يتم تحديد الصورة ووضع 1 في حال كانت الصورةرئيسية
);
--إضافة مفتاح رئيسي وربطه بجدول الإعلانات
ALTER TABLE TbAds_Images
ADD Primary KEY (Img_Id,Ads_Id);



--إضافة مفتاح الأجنبي وربطه بجدول الإعلانات
ALTER TABLE TbAds_Images
ADD FOREIGN KEY (Ads_Id) REFERENCES TbAds(Ads_Id);


--إضافة قيد لإضافة قيمة افتراضية في الصورة الرئيسية عنداإضافة الصور
ALTER TABLE TbAds_Images
ADD CONSTRAINT Def_Ima
DEFAULT 0 FOR Img_IsMain;

----
--For Test
insert into TbImages (Ads_Id ,Img_Path )
values (3,'إعلان');

select * from TbAds_Images