--******************************************--
--إنشاء جدول الفئات الفرعية\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Create Table TbSubcategory(
Subcate_Id Smallint primary key identity(1,1) ,
Subcate_Name Nvarchar(30) not null,
Subcate_Photo Nvarchar(255) not null,
Subcate_Description Nvarchar(255) Not Null,
Cate_Id Smallint Not Null,

);

--إضافة مفتاح الأجنبي وربطه بجدول الفئات
ALTER TABLE TbSubcategory
ADD constraint FK_CATE_SUB FOREIGN KEY (cate_Id) REFERENCES TbCategories(cate_Id)
on delete cascade;




--إضافة القيود على جدول الفئات الفرعية
--إضافة قيد لضمان عدم تكرار داخل العمود الواحد
ALTER TABLE TbSubcategory ADD CONSTRAINT uniq_Co UNIQUE(Subcate_Name);




select * from TbSubcategory








--******************************************--