create database Shop_Collej


--******************************************--
--إنشاء جدول المستخدمين  TbCategories
Create Table TbUsers(
User_ID Smallint primary key identity(1,1) ,
User_UserName Nvarchar(15) not null,
User_FName Nvarchar(15) not null,
User_LName Nvarchar(15) not null,
User_Email Nvarchar(40) not null,
User_Phone Nvarchar(13) not null,
User_Password Nvarchar(20) not null,
User_GroupID tinyint not null, --وضع المستخدمين في قروبات -> عادي\ادمن\معطل\محدوف
User_RegStatu char(1) not null, -- تفعيل الحساب -> نشط \غيرنشط
User_Photo Nvarchar(255) not null,
User_RegistrationDate datetime not null,
)

--إضافة القيود على جدول المستخدمين
--إضافة قيد لضمان عدم تكرار داخل العمود الواحد
ALTER TABLE TbUsers ADD CONSTRAINT unique_Col UNIQUE(User_UserName)
ALTER TABLE TbUsers ADD CONSTRAINT unique_Co2 UNIQUE(User_Email)
ALTER TABLE TbUsers ADD CONSTRAINT unique_Co3 UNIQUE(User_Phone)

--إضافة قيد لإضافة قيمة افتراضية عندالإنشاء

--******************************************--
ALTER TABLE TbUsers
ADD CONSTRAINT Def_Col
DEFAULT 0 FOR User_GroupID ,DEFAULT '0' FOR User_RegStatu,
DEFAULT GetDate() FOR User_RegistrationDate
--**********************--
--******************************************--
--******************************************--

ALTER TABLE TbUsers
ADD CONSTRAINT photpa
DEFAULT '\Photos\Profile.jpg' FOR User_Photo

--ALTER TABLE TbUsers
--drop CONSTRAINT photpa

select * from TbUsers

drop table TbUsers
drop Database Shop_Collej